<footer class="footer">
    <div>
    {% if meta.email %}
        <p><a href="mailto:{{ meta.email }}">{{ meta.email }}</a></p>
    {% endif %}
    {% if meta.telephone %}
        <p><a href="tel:{{ meta.telephone }}">{{ meta.telephone }}</a></p>
    {% endif %}
    </div>
    <div>
        <p>Last Update: {{ build.timestamp | dateToFormat("dd LLLL yyyy, t") }}</p>
    </div>
</footer>