{%- set absolutePageUrl -%}{{ page.url | url | absoluteUrl(meta.url) }}{%- endset -%}

{# Meta Tags #}
<meta name="description" content="{{ description or meta.description }}">
<meta property="og:title" content="{{ title or meta.title }}">
<meta property="og:description" content="{{ description or meta.description }}">
<meta property="og:url" content="{{ absolutePageUrl }}">

{# Favicon #}
<link rel="shortcut icon" href="{{ '/favicon.ico' | url }}">
<link rel="manifest" href="{{ '/site.webmanifest' | url }}">
<meta name="theme-color" content="#1a1a1a">

{# RSS Feed #}
<link type="application/atom+xml" rel="alternate" href="{{ meta.url }}/feed.xml" title="{{ meta.title }}">