[build]
    command = "npm run build"
    publish = "dist"

[build.environment]
    NODE_VERSION = "10.15"

[context.production.environment]
    NODE_ENV = "production"

[[headers]]
    for = "/*"
    [headers.values]
        X-Frame-Options = "DENY"
        X-XSS-Protection = "1; mode=block"
        X-Content-Type-Options = "nosniff"
        Referrer-Policy= "no-referrer-when-downgrade"

[[redirects]]
    from = "*"
    to = "/404"
    status = 404
