body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.6;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: var(--font-size, 1rem);
}

h1,h2,h3,h4 {
    line-height: 1.25;
}

h1 { font-size: 2em }
h2 { font-size: 1.5em }
h3 { font-size: 1.125em }
h4 { font-size: 1em }

a {
    font-weight:500;
    color: var(--brand-color);
}
a:hover {
    text-decoration: none;
}
a:focus {
    outline: 5px solid;
}
.icon {
    display:inline-block;
    width: auto;
    height: 1.25em;
    margin-right:.25em;
    fill: currentColor;
}
.iconlink {
    display:inline-flex;
    align-items: center;
}
.anchor {
    text-decoration: none;
}