body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.6;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: var(--font-size, 1rem);
}

h1,h2,h3,h4 {
    line-height: 1.25;
}

h1 { font-size: 2em }
h2 { font-size: 1.5em }
h3 { font-size: 1.125em }
h4 { font-size: 1em }

a {
    font-weight:500;
    color: var(--brand-color);
}
a:hover {
    text-decoration: none;
}
a:focus {
    outline: 5px solid;
}
table {
    display: block;
    width: fit-content;
    max-width: 100%;
    overflow-x: auto;
    text-align:left;
    font-size: 1.125rem;
    border-collapse: collapse;
}
table th,
table td {
    border: 1px solid;
    padding:.125em .25em;
}
button {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--brand-color);
    background-color:#FFF;
    border:2px solid var(--brand-color);
}
button:hover {
    background-color: var(--brand-color);
    color:#FFF;
}
pre {
    overflow-x:auto;
}
code {
    display:inline-block;
    padding:.125em .25em;
    background-color: rgba(0,0,0,0.07);
}
.icon {
    display:inline-block;
    width: auto;
    height: 1.25em;
    margin-right:.25em;
    fill: currentColor;
}
.iconlink {
    display:inline-flex;
    align-items: center;
}
.anchor {
    text-decoration: none;
}