body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.6;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    color: var(--text-color);
    font-size: 1.5rem;
}

p {
    max-width: 60ch;
}

a {
    font-weight:500;
    color: var(--brand-color);
}

a:focus {
    outline: 5px solid var(--brand-color);
}

a > svg {
    fill: currentColor;
}