---
permalink: site.webmanifest
---
{
    "lang": "{{ meta.lang }}",
    "dir": "ltr",
    "name": "{{ meta.title }}",
    "short_name": "{{ meta.title }}",
    "description": "{{ meta.description }}",
    "icons": [
        {
            "src": "/static/images/favicon/android-chrome-192x192.png",
            "sizes": "192x192",
            "type": "image/png"
        },
        {
            "src": "/static/images/favicon/android-chrome-512x512.png",
            "sizes": "512x512",
            "type": "image/png"
        }
    ],
    "theme_color": "#1a1a1a",
    "background_color": "#FFFFFF",
    "start_url": "/index.html",
    "display": "minimal-ui",
    "orientation": "natural"
}
