<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{%- if title -%}{{ title }} | {{ meta.title }}{%- else -%}{{ meta.title }}{%- endif -%}</title>
        {%- set css -%}{% include "css.njk" %}{%- endset -%}
        <style>{{ css | cssmin | safe }}</style>

        {% include "meta.njk" %}
    </head>
    <body class="site">
        {% include "header.njk" %}
        <main class="main">{{ content | safe }}</main>
        {% include "footer.njk" %}

        {% if build.env === 'production' %}
        <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function() {
                navigator.serviceWorker.register('/sw.js');
            });
        }
        </script>
        {% endif %}
    </body>
</html>